
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

body{
    background-color: #F3F8FA;
    font-style: normal;
    font-family: 'Inter';
    font-weight: 400;
}

p{
    text-align: justify;
}

h1, h2, h3, h4, h5 {
    font-family: 'Inter';
    font-weight: 900;
}

.home{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 700px;
    margin: 10% auto;
}


.about{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 510px;
    margin: 94px auto;
}

.about h1{
    text-align: center;
}

#home-content{
    padding-right: 30px;
    width: 310px;
    color: #091012;
    margin: 0;
}

#home-title{
    padding-left: 70px;
}

#content{
    /*padding-right: 30px;*/
    color: #091012;
    margin: 0;
}

img{
    width: 300px;
    height: 300px;
}

.menu{
    padding: 0;
    margin: auto;
    display: flex;
    justify-content: center; /* Centraliza os itens horizontalmente */
    list-style-type: none; /* Remove o estilo de lista */
}

li{
    float: left;
}

.menu li a{
    text-decoration: none;
    float: left;
    display: flex;
    justify-content: center;
    text-align: center;
    /* margin-left: 25px;
    margin-right: 25px; */
    margin-inline: 20px;
    color: #091012;
    border-bottom: 2px solid transparent;
}

.menu ul{
    background-color: #F3F8FA;
    list-style-type: none;
    margin: 0;
    
    overflow: hidden;
    top: 25px;
    position: fixed;
    
}

.menu a{
    display: flex;
    padding: 9px;
    transition: 0.5s;
}

.menu a:hover{
    display: block;
    padding: 9px;
    transition: 0.5s;
    border-bottom: 2px solid black;
}

a#Click{
    cursor: pointer;
    text-decoration: none;
}

#name{
    background-color: #05090A;  
    margin-left: 20px;
    color: #EEF5F6;
}

button{
    border: none;
    border-radius: 30px;
    background-color: #489CBF;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
    font-weight: 700;
    cursor: pointer;
}

#content p{
    font-weight: 500px;
}

#Contacts_content{
    margin: 0 auto;
    text-align: center;
}

a{
    color:#05090A;
}

#Color_white{
    color: #EEF5F6;
}

#content_{
    text-decoration: none;
    text-align: center;
    list-style: none;
    display: inline;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 20px;

    width: 24%;
    height: 100%;

    box-shadow: 1px 2px 5px rgb(138, 138, 138);
    border-radius: 30px;
}

#content_ p{
    margin: 20px;
    font-size: 19px;
}

#content_ button{
    margin-bottom: 25px;
    padding-inline: 50px;
}

#portifolio{
    /* width: 1110px; */
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

#project_img{
    width: 30%;
    height: 20%;
    border-radius: 10px;
}

#topcen_tered{
    margin: 0 auto;
    display: inline-block;
}

#title_{
    margin-top: 100px;
}

.projects{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
}
